﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">

        <a class="nav-link page-scroll" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <form>
                <button type="button" class="nav-link btn btn-link text-dark" style="line-height:inherit; background-color: gold; margin-right:10px;">Admin</button>
            </form>
        </li>
    }
    else if (User.IsInRole("Customer"))
    {
        <li class="nav-item">
            <form>
                <button type="button" class="nav-link btn btn-link text-dark" style="line-height:inherit; background-color: gold; margin-right:10px;">Customer</button>
            </form>
        </li>
    }
    else if (User.IsInRole("Author"))
    {
        <li class="nav-item">
            <form>
                <button type="button" class="nav-link btn btn-link text-dark" style="line-height:inherit; background-color: gold; margin-right:10px;">Author</button>
            </form>
        </li>
    }
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark" style="line-height:inherit; background-color: none">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link page-scroll" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link page-scroll" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

