﻿   <!-- Pricing -->
<div id="pricing" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Multiple Pricing Options</h2>
                <p class="p-heading p-large">We've prepared pricing plans for all budgets so you can get started right away. They're great for small companies and large organizations</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">STARTER</div>
                        <div class="card-subtitle">Just to see what can be achieved</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <span class="currency">$</span><span class="value">199</span>
                            <div class="frequency">monthly</div>
                        </div>
                        <hr class="cell-divide-hr">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Improve Your Email Marketing</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">User And Admin Rights Control</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">List Building And Cleaning</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Collected Data Management</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">More Planning And Evaluation</div>
                            </li>
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="#request">REQUEST</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->
                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">MEDIUM</div>
                        <div class="card-subtitle">Very appropriate for the short term</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <span class="currency">$</span><span class="value">299</span>
                            <div class="frequency">monthly</div>
                        </div>
                        <hr class="cell-divide-hr">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Improve Your Email Marketing</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">User And Admin Rights Control</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">List Building And Cleaning</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Collected Data Management</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">More Planning And Evaluation</div>
                            </li>
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="#request">REQUEST</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->
                <!-- Card-->
                <div class="card">
                    <div class="label">
                        <p class="best-value">Best Value</p>
                    </div>
                    <div class="card-body">
                        <div class="card-title">COMPLETE</div>
                        <div class="card-subtitle">Must have for large companies</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <span class="currency">$</span><span class="value">399</span>
                            <div class="frequency">monthly</div>
                        </div>
                        <hr class="cell-divide-hr">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Improve Your Email Marketing</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">User And Admin Rights Control</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">List Building And Cleaning</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Collected Data Management</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">More Planning And Evaluation</div>
                            </li>
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="#request">REQUEST</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->
