﻿
@model RegisterModel

<div id="register" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Fill The Following Form To Request A Meeting</h2>
                    <p>Evolo is one of the easiest and feature packed marketing automation apps in the market. Discover what it can do for your business organization right away.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Automate your marketing</strong> activities and get results today</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Interact with all your</strong> targeted customers at a personal level</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Convince them to buy</strong> your company's awesome products</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Save precious time</strong> and invest it where you need it the most</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Register Form -->
                <div class="form-container">
                    <form id="registerForm" data-toggle="validator" data-focus="false">

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Input.FirstName" class="form-control-input" id="rname" name="rname" required>
                            <label class="label-control" asp-for="Input.FirstName">First Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.LastName" class="form-control-input" id="rname" name="rname" required>
                            <label class="label-control" asp-for="Input.LastName">Last Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control-input" id="rname" name="rname" required>
                            <label class="label-control" asp-for="Input.Password">Password</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control-input" id="rname" name="rname" required>
                            <label class="label-control" asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <div class="help-block with-errors"></div>
                        </div>


                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control-input" id="remail" name="remail" required>
                            <label class="label-control" asp-for="Input.Email">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.PhoneNumber" class="form-control-input" id="rphone" name="rphone" required>
                            <label class="label-control" asp-for="Input.PhoneNumber">Phone number</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Roles">Choose account type</label>
                            @Html.DropDownList("Roles", @Model.Roles, new { @class = "form-control" })
                            <div class="help-block with-errors"></div>

                            @*
                                <select asp-for="UserRoles" asp-items="@(ViewBag.SuccessBody = TempData["UserRoles"])"></select>
                                 @Html.DropDownList("UserRoles", @Model.UserRoles, new { @class = "form-control" })
                            *@
                            @*<select asp-for="Roles" asp-items="@((IEnumerable<SelectListItem>)ViewBag["Roles"])"></select>

                                                          @Html.DropDownList("UserRoles", @Model.UserRoles, new { @class = "form-control" })
                                @Html.DropDownList("Roles", @Model.Roles, new { @class = "form-control" })
                            *@


                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="rterms" value="Agreed-to-Terms" name="rterms" required>I agree with Evolo's stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms & Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Register</button>
                        </div>
                        <div class="form-message">
                            <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div> <!-- end of form-container -->
                <!-- end of register form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of register -->