﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager﻿

@{
    var url = Url.Content("");
}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="background-image: url(/images/clear-impact-state-government-background-header.jpg);">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <a class="navbar-brand logo-text page-scroll" href="@Url.Action("Index", "Home")">Insight Hub</a>
    <!-- Image Logo -->
    <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.png" alt="alternative"></a> -->
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- Dashboard -->
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Featured</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (url != "~/")
                        {
                            <a class="dropdown-item" href="~/#recommended"><span class="item-text">Public Featured</span></a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="#recommended">Public Featured</a>
                        }
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="AdminReport" asp-action="FeaturedReports"><span class="item-text">Feature</span></a>
                    </div>
                </li>
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#popular">Popular</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#popular">Popular</a>
                    }
                </li>
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#new">New</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#new">New</a>
                    }
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Common" asp-action="CreateTag"><span class="item-text">Create Tag</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="AdminTag" asp-action="GetAllTags"><span class="item-text">Get All</span></a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="AnonymousReport" asp-action="GetAllReports"><span class="item-text">Get All</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="AdminReport" asp-action="GetReportsForApproval"><span class="item-text">Requests for Approval</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="Common" asp-action="CreateReport"><span class="item-text">Create Report</span></a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">User</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="AdminUser" asp-action="GetUsersForApproval"><span class="item-text">Registration Approval</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="AdminUser" asp-action="GetApprovedUsers"><span class="item-text">Accounts Ban</span></a>
                    </div>
                </li>
            }
            else if (User.IsInRole("Author"))
            {
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#recommended">Featured</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="/#recommended">Featured</a>
                    }
                </li>
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#popular">Popular</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#popular">Popular</a>
                    }
                </li>
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#new">New</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#new">New</a>
                    }
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Common" asp-action="CreateTag"><span class="item-text">Create Tag</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="AdminTag" asp-action="GetAllTags"><span class="item-text">Get All</span></a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="AnonymousReport" asp-action="GetAllReports"><span class="item-text">Get All</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="Common" asp-action="CreateReport"><span class="item-text">Create Report</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="AuthorReport" asp-action="GetReportsOfUser"><span class="item-text">My Reports</span></a>
                    </div>
                </li>
            }

            else if (User.IsInRole("Customer"))
            {
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#recommended">Featured</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#recommended">Featured</a>
                    }
                </li>
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#popular">Popular</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#popular">Popular</a>
                    }
                </li>
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#new">New</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#new">New</a>
                    }
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="AnonymousReport" asp-action="GetAllReports"><span class="item-text">Get All</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="CustomerReport" asp-action="GetDownloadedReportsByUser"><span class="item-text">Downloaded reports</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="CustomerSubscription" asp-action="GetNonSubscriptionsOfUser"><span class="item-text">Subscribe for email notification</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" asp-controller="CustomerSubscription" asp-action="GetSubscriptionsOfUser"><span class="item-text">Unsubscribe for email notification</span></a>
                    </div>
                </li>
            }

            else
            {
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#recommended">Featured</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#recommended">Featured</a>
                    }
                </li>
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#popular">Popular</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#popular">Popular</a>
                    }
                </li>
                <li class="nav-item">
                    @if (url != "~/")
                    {
                        <a class="nav-link page-scroll" href="/#new">New</a>
                    }
                    else
                    {
                        <a class="nav-link page-scroll" href="#new">New</a>
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" asp-controller="AnonymousReport" asp-action="GetAllReports">Reports</a>
                </li>

            }
            <partial name="_LoginPartial" />

        </ul>
        <span class="nav-item social-icons">
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </a>
            </span>
        </span>
    </div>
</nav>

