﻿@model InsightHub.Web.Models.ReportViewModel

<style>
    .header-content {
        width: 1000px;
        margin-left: 400px;
    }

    h1 {
        text-align: center
    }

    h4 {
        text-align: center;
    }

    .btn {
    }
</style>

<h4>"@Model.Name"</h4>
<div class="col text-center">
    <a asp-controller="CustomerReport" asp-action="DownloadReport" asp-route-id="@Model.Id"
       class="btn btn-danger btn btn-default" style="text-decoration:none"><i class="fas fa-file-download"></i>Download report</a>
</div>

<div>
    <hr />
    <dl class="row" style="justify-content: center;">
        <dd>
            <img src="~/images/Industries/@Html.DisplayFor(model =>model.IndustryImg)" style="height:500px;width:720px;" />
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.IndustryName)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.IndustryName)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.DownloadsCnt)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.DownloadsCnt)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.TagNames)
        </dt>
        <dd class="col-lg-8">
            @String.Join(", ", Model.TagNames)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.UploadedOn)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.UploadedOn)
        </dd>
    </dl>
</div>
<partial name="_GoBack" />