﻿@model InsightHub.Web.Models.ReportViewModel

@{
    ViewData["Title"] = "Delete";
}

<style>
    .header-content {
        width: 1000px;
        margin-left: 400px;
    }

    h1 {
        text-align: center
    }

    h4 {
        text-align: center;
    }

    .btn {
    }
</style>

<h1>Delete</h1>
<h4>Are you sure you want to delete "@Model.Name"</h4>
<div>
    <hr />
    <dl class="row" style="justify-content: center;">
        <dd>
            <img src="~/images/Industries/@Html.DisplayFor(model =>model.IndustryImg)" style="height:500px;width:720px;" />
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.IndustryName)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.IndustryName)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.DownloadsCnt)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.DownloadsCnt)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.UploadedOn)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.UploadedOn)
        </dd>
    </dl>

    <!-- Button trigger delete modal -->

    <div class="col text-center">
        <button type="button" class="btn btn-danger btn btn-default" data-name="@Model.Name" data-id="@Model.Id" id="deleteButton" data-toggle="modal" data-target="#exampleModal3">Delete</button>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">
                        Are you sure that you want to delete this report: @Model.Name?
                        <br />
                        This option will delete data permanently and cannot be recovered!
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="AdminReport" asp-action="Delete">
                        <input value="@Model.Id" name="Id" type="hidden" id="hiddenId" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(document).on('click', '#deleteButton', function () {
            let title = $(this).data("name");
            let formid = $(this).data("id");
            $("#examplemodal3").html("delete following report: " + title);
            $("#hiddenid").remove("value");
            $("#hiddenid").attr("value", formid);
        });
    });
</script>

<partial name="_GoBack" />