﻿@model InsightHub.Web.Models.ReportViewModel

<style>
    .header-content {
        width: 1000px;
        margin-left: 400px;
    }

    h1 {
        text-align: center
    }

    h4 {
        text-align: center;
    }

    .btn {
    }
</style>

<h1>Overview</h1>
<h4>"@Model.Name"</h4>
<h4>Available options</h4>

<!-- Button trigger approve modal -->
<div class="col text-center" style="margin-bottom: 10px;">
    <button type="button" class="btn btn-primary btn btn-default fas fa-check-circle" data-name="@Model.Name" data-id="@Model.Id" id="approveButton" data-toggle="modal" data-target="#exampleModal3">Approve</button>
</div>

<!-- Approve Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">
                    Are you sure you want to confirm : @Model.Name?
                    <br />
                    After approving report will be converted to PDF and upload to Azure Blob storage.
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="AdminReport" asp-action="ApproveReportConfirm">
                    <input value="@Model.Id" name="Id" type="hidden" id="hiddenId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Approve</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger approve modal -->
<div class="col text-center" style="margin-bottom: 10px;">
    <button type="button" class="btn btn-danger btn btn-default fas fa-times-circle" data-name="@Model.Name" data-id="@Model.Id" id="rejectButton" data-toggle="modal" data-target="#exampleModal2">Reject</button>
</div>

<!-- Reject Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">
                    Are you sure you want to reject : @Model.Name?
                    <br />
                    This action cannot be undone!
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="AdminReport" asp-action="RejectReportConfirm">
                    <input value="@Model.Id" name="Id" type="hidden" id="hiddenId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Reject</button>
                </form>
            </div>
        </div>
    </div>
</div>

<form>
    <div class="col text-center">
        <a asp-controller="Common" asp-action="UpdateReport" asp-route-id="@Model.Id" style="text-decoration:none" class="btn btn-success btn btn-default fas fa-user-check">Edit</a>
    </div>
</form>

<div>
    <hr />
    <dl class="row" style="justify-content: center;">
        <dd>
            <img src="~/images/Industries/@Html.DisplayFor(model =>model.IndustryImg)" style="height:500px;width:720px;" />
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.IndustryName)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.IndustryName)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.DownloadsCnt)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.DownloadsCnt)
        </dd>
        <dt class="col-lg-8">
            @Html.DisplayNameFor(model => model.UploadedOn)
        </dt>
        <dd class="col-lg-8">
            @Html.DisplayFor(model => model.UploadedOn)
        </dd>
    </dl>
</div>
<script>
    $(function () {
        $(document).on('click', '#approveButton', function () {
            let title = $(this).data("name");
            let formid = $(this).data("id");
            $("#examplemodal3").html("approve following report: " + title);
            $("#hiddenid").remove("value");
            $("#hiddenid").attr("value", formid);
        });
    });

    $(function () {
        $(document).on('click', '#rejectButton', function () {
            let title = $(this).data("name");
            let formid = $(this).data("id");
            $("#examplemodal2").html("reject following report: " + title);
            $("#hiddenid").remove("value");
            $("#hiddenid").attr("value", formid);
        });
    });
</script>