﻿@model InsightHub.Web.Models.ReportViewModel

@{
    ViewData["Title"] = "GetReportsOfUser";
}

<h1>GetReportsOfUser</h1>

<div>
    <h4>ReportViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustryImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BinaryContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BinaryContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadsCnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DownloadsCnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPending)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<partial name="_GoBack" />