﻿@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<style>
    #register {
        background: url('../images/header-background.jpg') center center no-repeat;
        background-size: cover;
    }
</style>

<div id="register" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Fill The Following Form To Request A Meeting</h2>
                    <p>Insight Hub is one of the easiest and feature packed marketing automation apps in the market. Discover what it can do for your business organization right away.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Automate your marketing</strong> activities and get results today</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Interact with all your</strong> targeted customers at a personal level</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Convince them to buy</strong> your company's awesome products</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Save precious time</strong> and invest it where you need it the most</div>
                        </li>
                    </ul>
                    <!--  <img src="~/images/insights.png" alt="Register image" style="max-width: -webkit-fill-available"> -->
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Register Form -->
                <div class="form-container">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Input.FirstName" class="form-control-input">
                            <label class="label-control" asp-for="Input.FirstName">First Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.LastName" class="form-control-input">
                            <label class="label-control" asp-for="Input.LastName">Last Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control-input">
                            <label class="label-control" asp-for="Input.Password">Password</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control-input">
                            <label class="label-control" asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control-input">
                            <label class="label-control" asp-for="Input.Email">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.PhoneNumber" class="form-control-input">
                            <label class="label-control" asp-for="Input.PhoneNumber">Phone number</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Roles">Choose account type</label>
                            @Html.DropDownList("Roles", @Model.Roles, new { @class = "form-control" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Register</button>
                        </div>
                        <div class="form-message">
                            <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div> <!-- end of form-container -->
                <!-- end of register form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of register -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
