﻿<!-- Video -->

<div class="basic-3" style="padding-top: 2.875rem">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Guidelines for Writing Short Business Reports</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Video Preview -->
                <div class="image-container">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=Sq2SDdz1i8U" data-effect="fadeIn">
                            <img class="img-fluid" src="~/images/video-frame.svg" alt="alternative">
                            <span class="video-play-button">
                                <span></span>
                            </span>
                        </a>
                    </div> <!-- end of video-wrapper -->
                </div> <!-- end of image-container -->
                <!-- end of video preview -->

                <p>This video will show you how to write a business report <strong>Major Customers</strong> and will help you understand why your business needs Insight Hub in this highly competitive market</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of video -->
 