﻿@model InsightHub.Web.Models.ReportViewModel

@{
    ViewData["Title"] = "CreateReport";
}

<style>

    #createTag {
        display: inline-block;
        width: 100%;
        border: 1px solid #00bfd8;
        border-radius: 1.5rem;
        background-color: #00bfd8;
        color: #fff;
        font: 700 0.75rem/1.75rem "Raleway", sans-serif;
        cursor: pointer;
        transition: all 0.2s;
        text-align: center;
        text-decoration: none;
        margin-top: 10px;
        margin-bottom: 15px;
    }
</style>
<div id="register" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Fill The Following Form To Request A Meeting</h2>
                    <p>Insight Hub is one of the easiest and feature packed marketing automation apps in the market. Discover what it can do for your business organization right away.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Automate your marketing</strong> activities and get results today</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Interact with all your</strong> targeted customers at a personal level</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Convince them to buy</strong> your company's awesome products</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Save precious time</strong> and invest it where you need it the most</div>
                        </li>
                    </ul>
                    <!--  <img src="~/images/insights.png" alt="Register image" style="max-width: -webkit-fill-available"> -->
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <!-- Register Form -->
                <div class="form-container">
                    <form asp-action="CreateReport">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Name" class="form-control-input">
                            <label class="label-control" asp-for="Name">Report name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group" style="height: 90px; padding-bottom:120px;">
                            <textarea asp-for="Summary" class="form-control-input" style="height: 90px"></textarea>
                            <label class="label-control" asp-for="Summary">Summary</label>
                            <span asp-validation-for="Summary" class="text-danger"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group" style="height: 350px; padding-bottom:120px">
                            <textarea asp-for="Description" class="form-control-input" style="height: 360px"></textarea>
                            <label class="label-control" asp-for="Description">Text</label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group" style="padding-top:60px;">
                            <label>Select one or more specific tags</label>
                            <select asp-for="SelectedTags" asp-items="Model.Tags"
                                    data-style="btn-default" class="selectpicker form-control" multiple>
                                <option disabled="disabled" style="font-size:13px"
                                        class="form-control">
                                    Use Ctrl + Left mouse button click
                                </option>
                            </select>
                        </div>
                        <div>
                            <label> If the tag you are looking for is not in the form above, create a new one </label>
                            <a href="~/Common/CreateTag" button id="createTag">Create Tag</a>
                        </div>
                        <div class="form-group">
                            <label asp-for="IndustryId" class="control-label">Choose industry</label>
                            <select asp-for="IndustryId" class="form-control-select" asp-items="ViewBag.Id"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="form-control-submit-button" />
                        </div>
                    </form>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of register -->
<partial name="_Video" />
<partial name="_GoBack" />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}