﻿@model InsightHub.Web.Models.TagViewModel

@{
    ViewData["Title"] = "CreateTag";
}

<h1>CreateTag</h1>
<hr />
<div id="register" class="form-1" style="background-image: url(/images/hashtags.jpg);">
    <div class="container">
        <div class="row" style="margin-left:310px;">
            <div class="col-lg-9">
                <form asp-action="CreateTag">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Name" class="form-control-input" style="border:groove";>
                        <label class="label-control" asp-for="Name">Type here</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <div class="help-block with-errors"></div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" style="margin-left:180px;" class="btn btn-warning btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<partial name="_GoBack" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

