﻿<h1>@ViewData["Title"]</h1>

<script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

<style>
    .header .header-content {
        display: list-item;
</style>

<partial name="_Header" />
<partial name="_LatestReports" />
<partial name="_SelectedByAdmin" />
<partial name="_Details1" />
<partial name="_Details2" />

<div>
    <div id="popular" style="padding-left: 500px;">@Html.Raw(ViewData["Chart"])</div>
</div>





