﻿<h1>My reports</h1>

<style>
    .table tr {
        cursor: pointer;
    }

    .hiddenRow {
        padding: 0 4px !important;
        background-color: #eeeeee;
        font-size: 13px;
    }

    #table {
        pointer-events: none;
    }
</style>

<div class="container" style="display:contents">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="search" data-toolbar="#toolbar" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Industry</th>
                    <th>Downloads count</th>
                    <th>Upload date</th>
                    <th id="table">Status</th>
                    <th id="table">Edit</th>
                    <th id="table">File</th>
                    <th id="table">Details</th>
                    <th id="table">Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#search").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once

            "ajax": {
                "url": "/Search/GetReportsOfUser",
                "type": "POST",
                "dataSrc": "data"
            },
            "columnDef": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "id", "name": "id", "industryName": "industry", "autoWidth": true },
                { "data": "name", "name": "name", "autoWidth": true },
                { "data": "industryName", "name": "industryName", "autoWidth": true },
                { "data": "downloadsCnt", "name": "downloadsCnt", "autoWidth": true },
                { "data": "uploadedOn", "name": "uploadedOn", "autoWidth": true },

                {
                    data: "isPending",
                    render: function (data, type, full, meta) {
                        {
                            if
                                (data == false) {
                                {
                                    return '<i class="fas fa-clipboard-check">Approved</i>';
                                }
                            }
                            else {
                                return '<i class="fas fa-spinner">Waiting for approval</i>';
                            }
                        }
                    }
                },

                {
                    data: "isPending",
                    render: function (data, type, full, meta) {
                        {
                            if
                                (data == false) {
                                {
                                    return '<a class="btn btn-success" href="/Common/UpdateReport/' + full.id + '"><i class="fas fa-user-check">Edit</a>';
                                }
                            }
                            else {
                                return '<i class="fas fa-spinner">Waiting for approval</i>';
                            }
                        }
                    }
                },

                {
                    data: "isPending",
                    render: function (data, type, full, meta) {
                        {
                            if
                                (data == false) {
                                {
                                    return '<a class="btn btn-success" href="/AuthorReport/DownloadReport/' + full.id + '"><i class="fas fa-file-pdf">View</a>';
                                }
                            }
                            else {
                                return '<i class="fas fa-spinner">Waiting for approval</i>';
                            }
                        }
                    }
                },

                {
                    data: "isPending",
                    render: function (data, type, full, meta) {
                        {
                            if
                                (data == false) {
                                {
                                    return '<a class="btn btn-success" href="/AuthorReport/Details/' + full.id + '"><i class="fas fa-file">Details</a>';
                                }
                            }
                            else {
                                return '<i class="fas fa-spinner">Waiting for approval</i>';
                            }
                        }
                    }
                },

                {
                    data: "isPending",
                    render: function (data, type, full, meta) {
                        {
                            if
                                (data == false) {
                                {
                                    return '<a class="btn btn-danger" href="/AuthorReport/Delete/' + full.id + '"><i class="fa fa-trash alt">Delete</a>';
                                }
                            }
                            else {
                                return '<i class="fas fa-spinner">Waiting for approval</i>';
                            }
                        }
                    }
                },


            ]
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<partial name="_GoBack" />